/*! 2018 (c) Luca Morricone <morricone.luca@outlook.com> - MIT License */

/* ========== BASIC ========== */
/* This is not a complete CSS reboot, but should be enough */

html {
  color: rgba(0,0,0,0.8);
  font: 18px/1.25 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* 1. Prevent font boosting on mobile browsers */
html *,
::before,
::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  max-height: 999999px; /* 1 */
}

/* Prevent horizontal bar scrolling (if... take a look at html and body width, box-sizing, margin-left and margin-right) */
body {
  overflow-x: hidden;
  width: 100%;
}

a[href] {
  color: #0d47a1; /* GMD Blue 900 */
  text-decoration: none;
  border-radius: 0.125em;
}

a[href]:not(.button):hover {
  text-decoration: underline;
}

a[href]:focus,
a[href]:hover:active {
  text-decoration: none;
}

a[href]:active {
  background-color: rgba(68,138,255,0.4096); /* GMD Blue A200 */
}

h1 {
  font-size: 1.953125em;
  margin: 0.64em 0;
}

h2 {
  font-size: 1.5625em;
  margin: 0.8em 0;
}

/* Set legend font-size and margins as h3 */
h3,
legend {
  font-size: 1.25em;
  margin: 1em 0;
}

ol,
ul {
  padding: 0 0 0 1.5625em;
  list-style-position: inside;
}

img,
embed,
object,
video {
  max-width: 100%;
  vertical-align: middle;
}

button,
input,
select,
textarea {
  font-size: 1.25em;
  line-height: 1.25;
  padding: 0.32768em;
}

optgroup,
option {
  font-size: 0.8em;
}

optgroup option {
  font-size: 1em;
}

/* Remove text focusring in firefox */
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 rgba(0,0,0,0.8);
}

/* Remove select element arrow in IE 10+ */
select::-ms-expand {
  display: none;
}

/* 1. Remove select element arrow in firefox */
/* 2. Remove select element arrow in webkit browsers */
/* 3. Correct select height in all modern browsers */
/* 4. Correct vertical align in firefox and add space for arrow */
select {
  -moz-appearance: none; /* 1 */
  -webkit-appearance: none; /* 2 */
  height: 1.987503em; /* 3 */
  color: inherit;
  background-color: #fff;
  background-image: url('data:image/svg+xml;utf8,<svg height="24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z" fill="rgba(0,0,0,0.8)"/></svg>');
  background-position: calc(100% - 0.32768em) 50%, 50% 100%;
  background-size: 1.25em 1.25em;
  background-repeat: no-repeat;
  padding: 0 1.90536em 0 0.32768em; /* 4 */
}

input,
textarea,
select {
  border: 1px solid #cfd8dc; /* GMD Blue Grey 100 */
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: none;
}

[contenteditable]:focus,
a[href]:not(:active):focus,
area[href]:not(:active):focus,
audio:not(:active):focus,
button:not([disabled]):not(:active):focus,
embed:focus,
iframe:focus,
input:not([disabled]):not(:active):focus,
object:focus,
select:not([disabled]):focus,
textarea:not([disabled]):focus,
video:not(:active):focus {
  outline-offset: 1px;
  outline: 2px solid #82b1ff; /* GMD Blue A100 */
}

/* Reset fieldset styles in all browsers */
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

/* Set legend as heading block element */
legend {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  display: block;
  font-weight: bold;
}

/* ========== LAYOUT ========== */

body {
  background-color: #eceff1; /* GMD Blue Grey 50 */
  background-image: -webkit-gradient(linear,left top, right bottom,from(#fff),to(#eceff1));
  background-image: -webkit-linear-gradient(top left,#fff,#eceff1);
  background-image: -o-linear-gradient(top left,#fff,#eceff1);
  background-image: linear-gradient(to bottom right,#fff,#eceff1);
}

/* ========== .header ========== */

.header {
  background-color: #263238; /* GMD Blue Grey 900 */
}

.header h1,
.inside .header {
  margin: 0;
  padding: 0.8em 0.8rem;
  font-size: 1.25em;
  font-weight: 200;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}

.header h1 a[href],
.inside .header a[href] {
  color: #fff;
  text-align: center;
  padding: 0.4096em 0;
}

.header h1 a[href]:hover,
.inside .header a[href]:hover {
  color: #448aff; /* GMD Blue A200 */
  text-decoration: none;
}

/* ========== #breadcrumb ========== */

#breadcrumb {
  margin: 0;
  padding: 1em 0.8rem;
  list-style: none;
  text-align: center;
  background-color: #e5e3df; /* Google Map default background */
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  margin: 0 0.512em;
  content: "/\00a0";
}

#breadcrumb li a[href] {
  font-weight: bold;
  padding: 0.64em 0;
}

/* ========== #map ========== */

#map {
  height: calc(100vh - 64px);
  width: 100%;
  background-color: #e5e3df; /* Google Map default background */
}

/* ========== .filter-options ========== */

.filter-options {
  text-align: center;
  padding: 1em 0.8rem;
  background-color: #607d8b; /* GMD Red 900 */
  background-image: -webkit-gradient(linear,left top, right bottom,from(#90a4ae),to(#607d8b));
  background-image: -webkit-linear-gradient(top left,#90a4ae,#607d8b);
  background-image: -o-linear-gradient(top left,#90a4ae,#607d8b);
  background-image: linear-gradient(to bottom right,#90a4ae,#607d8b);
}

#filter-legend {
  color: #fff;
  font-size: 1.25em;
  font-weight: bold;
  margin: 0 0 1em;
}

.filter-options select {
  width: 100%;
}

.filter-options select + select {
  margin-top: 0.8em;
}

.filter-options select:not([disabled]):focus {
  outline-color: #fff;
}

/* ========== #footer ========== */

#footer {
  background-color: #263238; /* GMD Blue Grey 900 */
  color: #bdbdbd;
  font-size: 0.8em;
  letter-spacing: 0.05em;
  padding: 1.5625em;
  text-align: center;
  text-transform: uppercase;
}

#footer p {
  margin: 0;
}

#footer a[href] {
  color: #ffd740; /* GMD Amber A200 */
  padding: 1.25em 0;
}

#footer a[href]:hover {
  color: #448aff; /* GMD Blue A200 */
  text-decoration: none;
}