/*! 2018 (c) Luca Morricone <morricone.luca@outlook.com> - MIT License */

@import 'normalize';

/* ========== BASIC ========== */
/* This is not a complete CSS reboot, but should be enough */

html {
  color: rgba(0,0,0,0.8);
  font: 17px/1.25 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
}

/* 1. Prevent font boosting on mobile browsers */
html *,
::before,
::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  max-height: 999999px; /* 1 */
}

/* Prevent horizontal bar scrolling (if... take a look at html and body width, box-sizing, margin-left and margin-right) */
body {
  overflow-x: hidden;
  width: 100%;
}

a[href] {
  color: #0d47a1; /* GMD Blue 900 */
  text-decoration: none;
  border-radius: 0.125em;
}

a[href]:not(.button):hover {
  text-decoration: underline;
}

a[href]:not(.button):focus,
a[href]:not(.button):active {
  text-decoration: none;
}

a[href]:not(.button):active {
  background-color: rgba(68,138,255,0.4096); /* GMD Blue A200 */
}

h1 {
  font-size: 1.953125em;
  margin: 0.64em 0;
}

h2 {
  font-size: 1.5625em;
  margin: 0.8em 0;
}

h3 {
  font-size: 1.25em;
  margin: 1em 0;
}

ol,
ul {
  padding: 0 0 0 1.5625em;
  list-style-position: inside;
}

/* 1. Make responsive images and objects */
img,
embed,
object,
video {
  max-width: 100%; /* 1 */
  vertical-align: middle;
}

/* Reset figure margins in all browsers */
figure {
  margin: 0;
}

/* 1. Correct line-height in select element */
.button,
.skip-link,
button,
input,
select,
textarea {
  font-size: 1.25em;
  line-height: 1.5625; /* 1 */
  padding: 0.32768em 0.8em;
}

optgroup,
option {
  font-size: 0.8em;
}

optgroup option {
  font-size: 1em;
}

/* Remove text focusring in firefox */
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 rgba(0,0,0,0.8);
}

/* Remove select element arrow in IE 10+ */
select::-ms-expand {
  display: none;
}

/* 1. Remove select element arrow in firefox */
/* 2. Remove select element arrow in webkit browsers */
/* 3. Correct select height in all modern browsers */
/* 4. Correct vertical align in firefox and add space for arrow */
select {
  -moz-appearance: none; /* 1 */
  -webkit-appearance: none; /* 2 */
  appearance: none; /* 1, 2 */
  height: 2.301468em; /* 3 */
  color: inherit;
  background-color: #fff;
  /* background-image: url('data:image/svg+xml;utf8,<svg height="24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z" fill="rgba(0,0,0,0.8)"/></svg>'); */
  background-image: url('data:image/svg+xml;utf8,<svg height="24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z" fill="rgba(0,0,0,0.8)"/></svg>');
  background-position: calc(100% - 0.8em) 50%, 50% 100%;
  /* background-size: 1.25em 1.25em; */
  background-size: 1.5625em 1.5625em;
  background-repeat: no-repeat;
  /* padding: 0 2.85em 0 0.8em; */ /* 4 */
  padding: 0 3.1625em 0 0.8em; /* 4 */
}

input,
textarea,
select {
  border: 1px solid #cfd8dc; /* GMD Blue Grey 100 */
}

.button {
  display: inline-block;
  text-align: center;
}

.button,
a[href].button,
button,
[type="button"],
[type="reset"],
[type="submit"] {
  color: #fff;
  border: 2px solid #2962ff; /* GMD Blue A700 */
  background-color: #2962ff; /* GMD Blue A700 */
  border-radius: 0.125em;
  box-shadow: 0.125em 0.32768em 0.4096em rgba(55,71,79,0.2); /* GMD Blue Grey 800 */
  cursor: pointer;
}

:not(.skip-link).button,
a[href]:not(.skip-link).button,
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.skip-link {
  position: absolute;
  z-index: 100;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.button:hover,
a[href].button:hover,
button:not([disabled]):hover,
html [type="button"]:not([disabled]):hover,
[type="reset"]:not([disabled]):hover,
[type="submit"]:not([disabled]):hover {
  border: 2px solid #1565c0; /* GMD Blue 800 */
  background-color: #1565c0; /* GMD Blue 800 */
  box-shadow: 0 0.125em 0.125em rgba(55,71,79,0.32768); /* GMD Blue Grey 800 */
}

.skip-link:focus {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.button:active,
a[href].button:active,
button:not([disabled]):active,
html [type="button"]:not([disabled]):active,
[type="reset"]:not([disabled]):active,
[type="submit"]:not([disabled]):active {
  border: 2px solid #0d47a1; /* GMD Blue 900 */
  background-color: #0d47a1; /* GMD Blue 900 */
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

:focus {
  outline: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: none;
}

[contenteditable]:focus,
[tabindex]:focus,
a[href]:not(:active):focus,
area[href]:not(:active):focus,
audio:not(:active):focus,
button:not([disabled]):not(:active):focus,
embed:focus,
iframe:focus,
input:not([disabled]):not(:active):focus,
object:focus,
select:not([disabled]):focus,
textarea:not([disabled]):focus,
video:not(:active):focus {
  outline-offset: 1px;
  outline: 2px solid #82b1ff; /* GMD Blue A100 */
}

html [disabled],
a:not([href]):not([rel]) {
  opacity: 0.4096;
  cursor: not-allowed;
}

table {
  font-size: 0.8em;
  line-height: 1.5625;
  background-color: #fff;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1.25em 0;
}

td,
th {
  padding: 1.25em;
}

[dir=rtl] th,
td,
tfoot th,
thead th {
  text-align: left;
}

[dir=rtl] td,
[dir=rtl] tfoot th,
[dir=rtl] thead th,
th {
  text-align: right;
}

tr:nth-of-type(even) {
  background-color: rgba(144,164,174,0.2); /* GMD Blue Grey 300 */
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* ========== LAYOUT ========== */

body {
  background-color: #eceff1; /* GMD Blue Grey 50 */
  background-image: -webkit-gradient(linear,left top, right bottom,from(#fff),to(#eceff1));
  background-image: -webkit-linear-gradient(top left,#fff,#eceff1);
  background-image: -o-linear-gradient(top left,#fff,#eceff1);
  background-image: linear-gradient(to bottom right,#fff,#eceff1);
}

.skip-link {
  top: 0.413972em;
  left: 1rem;
}

.no-wrap {
  white-space: nowrap;
}

.lazy {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

/* ========== .header ========== */

body> header,
[role="banner"] {
  color: #e0e0e0; /* GMD Grey 300 */
  text-align: center;
  background-color: #004d40; /* GMD Teal 900 */
}

body> header h1 {
  margin: 0;
}

[role="banner"] strong {
  display: inline-block;
}

body> header h1,
[role="banner"] strong {
  padding: 1em 1rem;
  font-size: 1.25em;
  font-weight: normal;
  letter-spacing: 0.125em;
  text-transform: uppercase;
}

[role="banner"] a[href] {
  color: #fff;
  padding: 0.512em 0;
}

[role="banner"] a[href]:hover {
  color: #448aff; /* GMD Blue A200 */
  text-decoration: none;
}

/* ========== #breadcrumb ========== */

.inside nav {
  background-color: #fff;
  border-bottom: 1px solid #eceff1; /* GMD Blue Grey 50 */
  box-shadow: 0.125em 0.32768em 0.4096em rgba(55,71,79,0.2); /* GMD Blue Grey 800 */
}

#breadcrumb {
  margin: 0;
  padding: 1.25em 1rem;
  list-style: none;
  text-align: center;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  margin: 0 0.512em;
  content: "/\00a0";
}

#breadcrumb li a[href] {
  font-weight: bold;
  padding: 0.8em 0;
}

/* ========== #map-container ========== */

#map-container {
  position: relative;
}

#static-map {
  height: calc(100vh - 15.972412rem);
  width: 100%;
  background-color: #e5e3df; /* Google Map default background */
  background-size: cover;
  background-position: bottom;
}

#map {
  height: 100%;
  background-size: cover;
  background-position: bottom;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: display;
}

.inside #static-map {
  height: calc(100vh - 7.764706rem);
  box-shadow: 0.125em 0.32768em 0.4096em rgba(55,71,79,0.2); /* GMD Blue Grey 800 */
}

#map.focused {
  outline-offset: 1px;
  outline: 2px solid #82b1ff; /* GMD Blue A100 */
}

#markerLayer img.focused {
  border-radius: 0.125em;
  background-color: rgba(68,138,255,0.8); /* GMD Blue A200 */
}

#static-map.offline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#static-map.offline> * {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

#offline-alert {
  padding: 0 1rem;
  background-color: #fff;
  box-shadow: 0.125em 0.32768em 0.4096em rgba(55,71,79,0.2); /* GMD Blue Grey 800 */
}

#offline-alert p:nth-child(2) {
  text-align: right;
}

/* ========== #filter-options ========== */

#filter-options {
  text-align: center;
  padding: 1em 1rem;
  background-color: #004d40; /* GMD Teal 900 */
  box-shadow: 0.125em 0.32768em 0.4096em rgba(55,71,79,0.2); /* GMD Blue Grey 800 */
}

#filter-legend {
  color: #e0e0e0; /* GMD Grey 300 */
  font-weight: normal;
  letter-spacing: 0.0512em;
  margin: 0 0 0.8em;
}

#filter-options select {
  width: 100%;
}

#filter-options select + select {
  margin-top: 0.8em;
}

#filter-options select:not([disabled]):focus {
  outline-color: #fff;
}

/* ========== .results ========== */

.results {
  padding: 1em 0.5rem;
}

#results-notice {
  margin: 1em 0;
  padding: 0 0.5rem;
  font-size: 1.25em;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0.125em 0.32768em 0.4096em rgba(55,71,79,0.2); /* GMD Blue Grey 800 */
}

#restaurants-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

#restaurants-list li {
  margin: 0;
  padding: 1em 0.5rem;
}

#restaurants-list article {
  background-color: #fff;
  overflow: hidden;
  border-radius: 1.953125em 0.125em;
  box-shadow: 0.125em 0.32768em 0.4096em rgba(55,71,79,0.2); /* GMD Blue Grey 800 */
}

#restaurants-list article> h3 {
  font-weight: normal;
  text-transform: uppercase;
}

#restaurants-list article> h3,
#restaurants-list address> p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#restaurants-list article> :not(picture):not(img) {
  padding: 0 1rem;
}

#restaurants-list article strong {
  text-transform: uppercase;
}

#restaurants-list article> p:last-child {
  margin-top: 1.5625em;
  text-align: right;
}

#restaurants-list a[href].button {
  border-radius: 1.25em;
}

/* ========== #restaurant-container ========== */

#restaurant-container {
  padding: 2.25em 1rem 0;
}

#restaurant-container> div {
  overflow: hidden;
  border-radius: 1.953125em 0.125em;
  background-color: #fff;
  box-shadow: 0.125em 0.32768em 0.4096em rgba(55,71,79,0.2); /* GMD Blue Grey 800 */
}

#restaurant-container> div> :not(picture):not(img):not(figure),
#restaurant-container> div> figure caption {
  padding: 0 1rem;
}

#restaurant-img,
.restaurant-img {
  width: 100%;
}

#restaurant-name {
  margin: 1em 0;
  font-size: 1.25em;
  font-weight: normal;
  text-transform: uppercase;
}

#restaurant-cuisine strong {
  text-transform: uppercase;
}

#restaurant-address {
  font-size: 0.8em;
  margin: 1.25em 0;
}

.scrollable-x {
  overflow-x: auto;
}

#restaurant-hours {
  min-width: 100%;
  margin-bottom: 0;
}

#restaurant-hours td,
#restaurant-hours th {
  white-space: nowrap;
}

#restaurant-hours caption {
  font-size: 1.25em;
  font-weight: bold;
  text-align: left;
  padding-bottom: 1em!important;
  border-bottom: 1px solid #eceff1; /* GMD Blue Grey 50 */
}

/* ========== #reviews-container ========== */

#reviews-container {
  padding: 1em 0.5rem;
}

#reviews-container h2 {
  margin: 1em 0;
  padding: 0 0.5rem;
  font-size: 1.25em;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0.125em 0.32768em 0.4096em rgba(55,71,79,0.2); /* GMD Blue Grey 800 */
}

#reviews-container> p {
  text-align: center;
  padding: 0 0.5rem;
}

#reviews-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

#reviews-list li {
  margin: 0;
  padding: 1em 0.5rem;
}

#reviews-list article {
  background-color: #fff;
  overflow: hidden;
  border-radius: 1.953125em 0.125em;
  box-shadow: 0.125em 0.32768em 0.4096em rgba(55,71,79,0.2); /* GMD Blue Grey 800 */
}

#reviews-list header {
  padding:  1em;
  border-bottom: 1px solid #eceff1; /* GMD Blue Grey 50 */
}

#reviews-list h3 {
  margin: 0;
}

#reviews-list time {
  float: right;
  font-size: 0.8em;
  margin-top: 0.25em;
}

#reviews-list h3::after {
  clear: both;
  content: "";
  display: block;
}

#reviews-list article> p {
  padding: 0 1rem;
}

abbr[class|="stars"] {
  font-size: 1.25em;
  color: #dd2c00; /* GMD Deep Orange A700 */
  text-decoration: none;
}

.stars-1::after {
  content: "☆☆☆☆";
}

.stars-1::before {
  content: "★";
}

.stars-2::after {
  content: "☆☆☆";
}

.stars-2::before {
  content: "★★";
}

.stars-3::after {
  content: "☆☆";
}

.stars-3::before {
  content: "★★★";
}

.stars-4::after {
  content: "☆";
}

.stars-4::before {
  content: "★★★★";
}

.stars-5::before {
  content: "★★★★★";
}

/* ========== #footer ========== */

#footer {
  background-color: #004d40; /* GMD Teal 900 */
  color: #e0e0e0; /* GMD Grey 300 */
  font-size: 0.8em;
  letter-spacing: 0.05em;
  padding: 1.5625em 1rem;
  text-align: center;
  text-transform: uppercase;
}

#footer p {
  margin: 0;
}

#footer a[href] {
  color: #fff;
  padding: 1.25em 0;
}

#footer a[href]:hover {
  color: #448aff; /* GMD Blue A200 */
  text-decoration: none;
}

/* ========== #update-alert ========== */

#update-alert {
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  padding: 0 0.5rem;
  text-align: center;
  color: #e0e0e0; /* GMD Grey 300 */
  background-color: #263238; /* GMD Blue Grey 900 */
  -webkit-transition: opacity 0.3s steps(1,end), -webkit-transform 0.3s ease;
  transition: opacity 0.3s steps(1,end), -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease, opacity 0.3s steps(1,end);
  transition: transform 0.3s ease, opacity 0.3s steps(1,end);
  transition: transform 0.3s ease, opacity 0.3s steps(1,end), -webkit-transform 0.3s ease;
  -webkit-transform: translateY(7.229765em);
  -ms-transform: translateY(7.229765em);
  transform: translateY(7.229765em);
  opacity: 0;
}

#update-alert p {
  padding: 0 0.5rem;
  display: inline-block;
}

#update-alert p:first-child {
  margin-bottom: 0;
}

#update-alert button + button {
  margin-left: 1rem;
}

#update-alert.open {
  -webkit-transition: opacity 0.3s steps(1,start), -webkit-transform 0.3s ease;
  transition: opacity 0.3s steps(1,start), -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease, opacity 0.3s steps(1,start);
  transition: transform 0.3s ease, opacity 0.3s steps(1,start);
  transition: transform 0.3s ease, opacity 0.3s steps(1,start), -webkit-transform 0.3s ease;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

/* ========== .error-page ========== */

.error-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.error-page main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.error-page main {
  padding: 1em 1rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.error-page main> * {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.error-page main header + p {
  margin-top: 1.5625em;
}

/* ========== RESPONSIVE ========== */

@media screen and (min-width: 500px) {
  #results-notice,
  #reviews-container h2 {
    font-size: 1.5625em;
    letter-spacing: 0.125em;
    margin: 0.8em 0;
  }
}

@media screen and (min-width: 700px) {
  html {
    line-height: 1.5625;
  }

  body:not(.inside) #static-map {
    height: calc(100vh - 9.317095rem);
  }

  #restaurants-list,
  .inside main,
  #reviews-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  #restaurants-list> *,
  .inside main> *,
  #reviews-list> * {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
  }

  #restaurants-list> *,
  #reviews-list> * {
    width: 50%;
  }

  #breadcrumb,
  #restaurant-container {
    width: calc(50% + 0.5rem);
  }

  .inside #map-container {
    width: calc(50% - 0.5rem);
  }

  #restaurant-container {
    order: -1;
  }

  #reviews-container {
    width: 100%;
  }

  .inside #map-container,
  #reviews-list> * {
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }

  .inside #map-container {
    top: -4.029411rem;
  }

  .inside #static-map {
    height: calc(100% + 4.029411rem);
  }

  #reviews-list article {
    height: 100%;
  }

  header p {
    font-size: 1.25em;
  }
}


@media screen and (min-width: 768px) {
  #filter-options .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  #filter-options .container> * {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
  }

  #filter-legend {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }

  #filter-legend,
  #filter-options select + select {
    margin: 0;
  }

  #filter-options .container select {
    margin-left: 1rem;
  }

  /* body:not(.inside) #static-map {
    height: calc(100vh - 4.441177rem - 5.375882rem);
  } */
}

@media screen and (min-width: 1080px) {
  #results-notice,
  #reviews-container h2 {
    font-size: 1.953125em;
    margin: 0.64em 0;
  }

  #restaurants-list> *,
  #reviews-list> * {
    width: 33.333333%;
  }

  #breadcrumb,
  #restaurant-container {
    width: calc(33.333333% + 0.5rem);
  }

  .inside #map-container {
    width: calc(66.666667% - 0.5rem);
  }
}

@media screen and (min-width: 1366px) {
  .container {
    margin-right: auto;
    margin-left: auto;
  }

  #filter-options .container {
    max-width: 1332px;
  }

  .results.container,
  .inside nav .container,
  .inside main.container {
    max-width: 1366px;
  }

  .inside #map-container {
    padding-right: 1rem;
  }

  #restaurants-list> * {
    width: 25%;
  }
}